@charset "utf-8";

.sub_visual {background: url('../images/sub/sv_cs.jpg')no-repeat center; 
    font-size:3rem; color:#fff; padding:100px 0; text-align: center;}
.sub_visual h2 {font-weight: 400; text-transform: uppercase; }

.content {padding:150px 0; }

.notice form fieldset {display:flex; justify-content: flex-end; gap:10px; }
.notice form select {border:1px solid #ccc; height: 30px; width: 80px; padding:5px; }
.notice form input[type="text"] {border:1px solid #ccc; width: 200px; padding:5px; }
.notice form input[type="submit"] {background: #333; color:#fff; width: 50px; cursor: pointer; }
.notice table {border-top:1px solid #000; margin:50px 0;}
.notice table th {border-bottom:1px solid #ccc; }
.notice table td {border-bottom:1px solid #eee; text-align: center; }
.notice table td.notice_title {text-align: left; }
.notice .paging {display:flex; justify-content: center; gap:5px; }
.notice .paging li {border:1px solid #ddd; width:20px; text-align: center; }
.notice .paging li.last {font-size:0; border:none; background: url('../images/sub/paging_first')no-repeat center;}
.notice .paging li.prev {font-size:0; border:none; background: url('../images/sub/paging_prev')no-repeat center;}
.notice .paging li.next {font-size:0; border:none; background: url('../images/sub/paging_next')no-repeat center;}
.notice .paging li.first {font-size:0; border:none; background: url('../images/sub/paging_last')no-repeat center;}
.notice .paging li.on {background: var(--sub-color);}
.notice .paging li.on a {color:#fff; }

@media (max-width:1024px) {
    .notice table tr :first-child {display:none; }
    .notice table tr :last-child {display:none;}
}

@media (max-width:768px) {
    .notice table td.notice_title { white-space: nowrap; overflow:hidden; text-overflow: ellipsis; }
}